@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
body{
    background-color:#FFFFF0;
}
.heading{
    display: flex;
    justify-content:space-between;
    text-align: center;
    align-items: center;
    margin-top: 1%;
    width: 100%;
}
h1{
    font-family: 'Graduate';
    font-weight: 400;
    font-size: 33px;
   
}
.heading img{
    margin-left: 1%;
}

.headerP1{
    width:8%;
    font-size: 23px;
    position: relative;
    margin-right: 2%;
    margin-top: -2%;
    line-height:1.7rem;
    color: rgb(32, 110, 211);
}
@media (max-width: 1563px) {
    .mainheading{
        font-size: 35px;
    }
}
@media (max-width: 1143px) {
    .mainheading{
        font-size: 32px;
    }
}
@media (max-width: 811px) {
    .mainheading{
        font-size: 29px;
    }
    
}
.mainLogo {
    margin-top: 1%;
    margin-left: 1%;
}

.logos {
    margin-top: 3%;
    margin-left: 45%;
}

.universitylogoname {
    margin-top: 1%;
    font-size: 32px;
    margin-left: -5%;
}

.form {
    position: relative;
    margin-top: 3%;
    margin-right: 8%;
}

.labelsignin {
    width: max-content;
    position: absolute;
    margin-top: 60%;
    margin-left: -168%;
    font-size: 32px;
}

.username {
    font-size: 22px;
    margin-left: 33%;
}

.password {
    font-size: 22px;
    margin-left: 33%;
}

input[type=text] {
    width: 63%;
    padding: 12px 20px;
    margin: 3% 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #C0C0C0;
}

.usernamelabel {
    position: absolute;

}

.passwordnamelabel {
    position: absolute;
}

.loginbutton {
    background-color: #36454F;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 49%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;

}

.loginbutton:hover {
    background-color: #f44336;
    color: white;
}