.img{
    position: absolute;
      margin-top: -32%;
    margin-left: 70%;
}
.para{
  position: absolute;
  width:80%;
  font-size: 32px;
  margin-left: 19%;
  margin-top: -8%;
}
.announcement_content{
  width: 28%;
  position:absolute;
  margin-left: 71%;
  margin-top: -25%;
}
.paragraph{
  font-size: 20px;
  width: 60%;
  word-wrap: break-word;
}
.announce{
  position: absolute;
  width: 20%;
  margin-top: -28%;
  margin-left: 75%;
  font-size: 33px;
  color: #880808;
}