@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.mainbody{
    display: flex;
    justify-content: space-between;
    /* margin-right: 29%; */
}
.leftsidebar{
    background-color: #3e4b53;
    margin-top: 2%;
    text-align: center;
    max-height: max-content;
    height: 68vh;
    overflow-x: hidden;
    width: 12%;
}
.leftsidebar > div{
    margin-top: 20%;
}
.leftinfo{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.leftinfo > div{
    margin-top: 5%;
}
.leftinfonumber{
    color:#FAFA33;
    font-size: 1.8rem;
}
.leftinfotext{
    color: white;
    width: 90%;
    margin:auto;
}

.between{
    background-color: white;
    height: 5px;
    width: 80%;
    margin:auto;
}

.bodyimage{
    margin-top: 3%;
   height: fit-content;
}

.announcement{
    margin-right: 2%;
    margin-top: 3%;
    background-color:white;
    width: 20%;
    height: 500px;   
}
.textannouncement{
    color: #880808;
    font-size: 35px;
    font-weight:800;
    text-align: center;
}
.announcementdetails{
    font-weight: 700;
    font-size: 18px;
   
}
.announcementdetails1{
    width:100%;
    overflow-y: auto;
}
.footername{
    
    font-size: 28px;
    font-weight: 700;
    margin-top: 5%;
}
.welcomemessage{
    text-align: center;
}

@media (max-width: 1863px) {
    body{
        background-color: aquamarine;
    }
    .image{
        width: 90%;
        margin-left: 3%;
    }
    .leftsidebar{
        width: 14%;
    }
    .welcomemessage{
        font-size: 2.5rem;
      }
}
@media (max-width: 1276px) {
    body{
        background-color: rgb(139, 29, 182);
    }
    .leftsidebar{
        width: 16%;
    }
    .textannouncement{
        font-size: 30px;
    }
    .welcomemessage{
      font-size: 2rem;
    }
}
@media (max-width: 1079px) {
    body{
        background-color: rgb(139, 29, 182);
    }
    .leftsidebar{
        width: 18%;
    }
    .textannouncement{
        font-size: 28px;
    }
}
@media (max-width: 962px) {
    body{
        background-color: rgb(139, 29, 182);
    }
   
    .textannouncement{
        font-size: 24px;
    }
    .leftinfonumber{
        font-size: 25px;
    }
}
@media (max-width: 811px) {
    body{
        background-color: rgb(182, 29, 75);
    }
    .leftinfonumber{
        font-size: 21px;
    }
    .image{
        height: 350px;
        
    }
    .leftsidebar{
        width: 24%;
    }
    .leftinfotext{
        font-size: 15px;
    }
    .textannouncement{
        font-size: 22px;
    }
}