.studenthomepagebody {
  display: flex;
  height: 100%;
  margin-top: 1%;
}
.hometable{
  margin-left: 23%;
  margin-bottom: 4%;
}
.employertext{

  font-size: 1.5rem;
}
.semesterselector{
  margin-top: 1%;
  margin-left: -2%;
}
.studenthomepagesidebar {
  background-color: #536674;
  height: 83vh;
  width: 19%;
  border-top-right-radius: 20px;
}
.sidebartext button {
  color: black;
  font-size: 28px;
  width: 100%;
  border: none;
  border-top-right-radius: 10px;
  background-color:#c0c0c0;
  padding-top: 2%;
  cursor: pointer;

}
.spacebetween {
  margin-top: 2%;
  background-color: aliceblue;
  border: white solid 1px;
}
.semesterselectorbody {
  margin-top: 5%;
  margin-left: 24%;
  position: absolute;
  background-color: #c0c0c0;
  width: 70%;
  border-radius: 10px;
  text-align: center;
}
.semesterselecttext {
  margin-left: 8%;
  font-size: 24px;
}

.selectorbutton {
  margin-top: -2%;
  margin-left: 22%;
}
.selectorbutton button {
  font-size: 16px;
  background-color: #536674;
  border: none;
  color: aliceblue;
  width: 8%;
  height: 28px;
  border-radius: 7px;
  margin-bottom: 1%;
}
.selectorbutton button:hover {
  background-color: rgba(156, 191, 224, 0.781);
  color: black;
}
.navbar {
  background-color: #add8e6;
  height: 36px;
  margin-left: 5%;
  width: 80%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
}

.navbar > div {
  margin-left: 6%;
}
.credentialbutton {
  background-color: #536674;
  color: whitesmoke;
}
.homebutton {
  background-color: #add8e6;
}
.navbarbutton button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 22px;
  margin-top: 4%;

}

.navbarlogobutton {
  margin-top: 0.1%;
  margin-left: -10%;
  
}
.navbarlogobutton img {
  width: 24px;
}

.dropbtn {
  background-color: #add8e6;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  font-size: 25px;
  transition-duration: 1s;
  /* margin-left: -40%; */
}


@media (max-width: 1337px) {
  .dropdowncontent{
    margin-left: -6%;
  }
  .navbarlogobutton{
    margin-left: -14%;
  }
}
@media (max-width: 1049px) {
  .dropbtn {
    font-size: 26px;
  }
}
@media (max-width: 983px) {
  .dropbtn {
    font-size: 24px;
  }
}
@media (max-width: 973px) {
  .dropbtn {
    font-size: 21px;
  }
}
@media (max-width: 811px) {
  .dropbtn {
    font-size: 17px;
  }
}

@media (max-width: 1530px) {

  .selectorbutton button {
    margin-left: 15%;
  }
}
@media (max-width: 1509px) {
  .studenthomepagebody {
    height: 89vh;
  }
}
@media (max-width: 1398px) {
  .studenthomepagebody {
    height: 87vh;
  }
}
@media (max-width: 1317px) {
  .sidebartext p {
    font-size: 27px;
  }
}
@media (max-width: 1276px) {
  .studenthomepagebody {
    height: 89vh;
  }
  .semesterselectorbody{
    margin-top: 8%;
  }
  .selectorbutton button {
    margin-top: -1%;
  }
}
@media (max-width: 1206px) {
  .studenthomepagebody {
    height: 91vh;
  }
}
@media (max-width: 1179px) {
  .sidebartext p {
    font-size: 23px;
  }
  .studenthomepagebody {
    height: 91vh;
  }
}
@media (max-width: 1036px) {
  .studenthomepagebody {
    height: 89vh;
  }
}
@media (max-width: 1009px) {
  .sidebartext p {
    font-size: 20px;
  }
  .studenthomepagebody {
    height: 90vh;
  }
}
@media (max-width: 875px) {
  .sidebartext p {
    font-size: 16px;
  }
  .studenthomepagebody {
    height: 92vh;
  }
  .semesterselectorbody{
    margin-top: 9%;
  }
}
