.studenthomepagebody {
  display: flex;
  height: 83vh;
  margin-top: 1%;
}
.studenthomepagesidebar {
  background-color: #536674;
  height: 100%;
  width: 19%;
  border-top-right-radius: 20px;
}
.sidebartext p {
  color: whitesmoke;
  font-size: 30px;
  padding-left: 8%;
  padding-top: 5%;
}
.spacebetween {
  margin-top: 3%;
  background-color: aliceblue;
  border: white solid 1px;
}
.semesterselectorbody {
  margin-top: 5%;
  margin-left: 24%;
  position: absolute;
}
.semesterselecttext {
  font-size: 24px;
}
.semesterselector input {
  width: 100%;
  height: 10px;
  border-radius: 10px;
}
.selectorbutton {
  margin-top: 5%;
  margin-left: 30%;
}
.selectorbutton button {
  font-size: 16px;
  background-color: #536674;
  border: none;
  color: aliceblue;
  width: 48%;
  height: 28px;
  border-radius: 7px;
}
.selectorbutton button:hover {
  background-color: rgba(156, 191, 224, 0.781);
  color: black;
}
.navbar {
  background-color: #add8e6;
  height: 36px;
  margin-left: 5%;
  width: 80%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
}

.navbar > div {
  margin-left: 6%;
}
.credentialbutton {
  background-color: #536674;
  color: whitesmoke;
}
.homebutton {
  background-color: #add8e6;
}
.navbarbutton button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 22px;
  margin-top: 4%;
  /* background-color:#ADD8E6; */
}

.navbarbutton button:hover {
  background-color: #536674;
  color: whitesmoke;
}

.navbarlogobutton {
  margin-top: 0.1%;
  margin-left: 90%;
  position: fixed;
  display: inline-block;
}
.navbarlogobutton img {
  width: 23px;
}

.dropbtn {
  background-color: #add8e6;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-family: "Abhaya Libre";
  font-weight: 600;
  line-height: 33px;
  transition-duration: 1s;
  margin-left: -40%;
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdowncontent button {
  width: 100%;
  background-color: #add8e6;
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  font-weight: 500;
  display: block;
  border: none;
  margin-left: -40%;
}

.dropdowncontent button:hover {
  background-color: #f1f1f1;
}

.navbarlogobutton:hover .dropdowncontent {
  display: block;
}

.navbarlogobutton:hover .dropbtn {
  background-color: #e7e7e7;
}

.btnimage {
  display: flex;
  justify-content: flex-start;
  margin-top: 1%;
  padding: 1%;
}
.btnimage img {
  width: 30px;
}

@media (max-width: 1049px) {
  .dropbtn {
    font-size: 26px;
  }
}
@media (max-width: 983px) {
  .dropbtn {
    font-size: 24px;
  }
}
@media (max-width: 973px) {
  .dropbtn {
    font-size: 21px;
  }
}
@media (max-width: 811px) {
  .dropbtn {
    font-size: 17px;
  }
}

@media (max-width: 1530px) {
  .studenthomepagebody {
    height: 87vh;
  }
}
@media (max-width: 1509px) {
  .studenthomepagebody {
    height: 89vh;
  }
}
@media (max-width: 1398px) {
  .studenthomepagebody {
    height: 87vh;
  }
}
@media (max-width: 1317px) {
  .sidebartext p {
    font-size: 27px;
  }
}
@media (max-width: 1276px) {
  .studenthomepagebody {
    height: 89vh;
  }
}
@media (max-width: 1206px) {
  .studenthomepagebody {
    height: 91vh;
  }
}
@media (max-width: 1179px) {
  .sidebartext p {
    font-size: 23px;
  }
  .studenthomepagebody {
    height: 91vh;
  }
}
@media (max-width: 1036px) {
  .studenthomepagebody {
    height: 89vh;
  }
}
@media (max-width: 1009px) {
  .sidebartext p {
    font-size: 20px;
  }
  .studenthomepagebody {
    height: 90vh;
  }
}
@media (max-width: 875px) {
  .sidebartext p {
    font-size: 16px;
  }
  .studenthomepagebody {
    height: 92vh;
  }
}
