.resultButton{
    background-color: #ADD8E6;
    color: black;
}
.resultButtonActive{
    background-color: #536674;
    color: whitesmoke;
}
.hometable{
    margin-top: 1%;
    margin-left: 36%;
    margin-bottom: 3%;
    font-size: 1.2rem;
    line-height: 1.4rem;
    width: 30%;
    border-collapse: collapse;
    border: 1px solid black;
}
.studenthomepagesidebarlow {
    background-color: #536674;
    height:83vh;
    width: 19%;
    border-top-right-radius: 20px;
  }
  .studenthomepagesidebarhigh {
    background-color: #536674;
    height: 560vh;
    width: 19%;
    border-top-right-radius: 20px;
  }
  .logobutton{
    background-color: #FFFFF0;
  }
  .employertablerow{
    border: 1px solid black;
  }
  .employertabledata{
    border: 1px solid black;

  }
  .dropdowncontent {
   
    position: absolute;
    background-color: #f9f9f9;
    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 5%;

  }
.dropdowncontentbutton{
    width: 100%;
    margin-top: 5%;
    background-color: #add8e6;
    color: rgb(0, 0, 0);
    padding: 6px 12px;
    font-weight: 500;
    display: block;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.navbarlogobutton{
    display: block;
}
@media (max-width: 1796px) {
  .studenthomepagesidebarhigh {

    height: 560vh;
 
  }
  
}
@media (max-width: 1760px) {
  .studenthomepagesidebarhigh {
    height: 570vh;
  }
}
@media (max-width: 1374px) {
  .studenthomepagesidebarhigh {
    height: 580vh;
  }
}
@media (max-width: 1322px) {
  .studenthomepagesidebarhigh {
    height: 600vh;
  }
}
@media (max-width: 1244px) {
  .studenthomepagesidebarhigh {
    height: 630vh;
  }
}
@media (max-width: 1195px) {
  .studenthomepagesidebarhigh {
    height: 650vh;
  }
}
@media (max-width: 1134px) {
  .studenthomepagesidebarhigh {
    height: 680vh;
  }
}
@media (max-width: 1080px) {
  .studenthomepagesidebarhigh {
    height: 700vh;
  }
}
@media (max-width: 962px) {
  .studenthomepagesidebarhigh {
    height: 710vh;
  }
}