.studenthomepagebody {
  display: flex;
  height: 83vh;
  margin-top: 1%;
  justify-content: space-between;
}
.sidebartext button:hover{
  background-color: #C0C0C0;
  color: black;
}
.mainstudentDetailsTable{
  display: flex;
  margin-left: 5%;
}

.studentdetailstable1{
  margin-left: 1%;

  margin-top: 2%;
  border-collapse: collapse;
  font-size: 21px;
  width: 100%;
}

.studentDetailstext{
  font-size: 1.6rem;
}
.studentInfoContainer{
  margin: 1rem;
}
td{
  border: 2px solid #dddddd;
  text-align: left;
  padding-top: 3%;
}
tr:nth-child(even){
  background-color: #a0a7ac;
}
.studenthomepagesidebar {
  background-color: #536674;
  height: 100%;
  width: 19%;
  border-top-right-radius: 20px;
}

.spacebetween {
  margin-top: 2%;
  background-color: aliceblue;
  border: white solid 1px;
}
.semesterselectorbody {
  
  margin-top: 5%;
  margin-left: 23%;
  position: absolute;
  background-color: #C0C0C0;
  width: 70%;
  text-align: center;  
}
.semesterselectorbody > div{
  margin-right: 4%;
}
.semesterselecttext {
  font-size: 23px;
  margin-left:1.5% ;
  margin-top: 1.5%;
}
.semesterselector{
  width: 8%;
  margin-top: 1.5%;
}
.semesterselector select {
  width: 100%;
  height: 26px;
  font-size: 18px;
  margin-left: 5%;
}
.selectorbutton {
  margin-top: 1.5%;
}
.setHeight{
  margin-top: 5%;
}
.selectorbutton button {
  font-size: 16px;
  background-color: #536674;
  border: none;
  color: aliceblue;
  width: 60px;
  height: 28px;
  border-radius: 7px;
  margin-left: -4.5%;
}
.selectorbutton button:hover {
  background-color: rgba(156, 191, 224, 0.781);
  color: black;
}
.certificateselectorbody{
  margin-top: 5%;
  margin-left: 23%;
  position: absolute;
  background-color: #C0C0C0;
  width: 70%;
  text-align: center;
  height: 5%;
  display: flex;
}
.certificateselecttext{
  font-size: 23px;
  margin-left:1.5% ;
  margin-top: 0.5%;
}
.certificateselectorbody > div{
  margin-right: 4%;
}
.certificatebutton1{
  margin-top: 0.5%;
}
.certificatebutton {
  font-size: 16px;
  background-color: #536674;
  border: none;
  color: aliceblue;
  width: 60px;
  height: 28px;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 0.5%;
}
.certificatebutton:hover {
  background-color: rgba(156, 191, 224, 0.781);
  color: black;
}
.navbar {
  background-color: #add8e6;
  height: 36px;
  width: 80%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar button{
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 22px;
}
.homeButton {
  background-color: #add8e6;
}
.navbar button:hover {
  background-color: #536674;
  color: whitesmoke;
}

.navbarlogobutton img {
  width: 23px;
}

.dropbtn {
  border: none;
  cursor: pointer;
  transition-duration: 1s;
  margin-left: -100%;
}
.dropbtn img{
  width: 28px;
}

.dropdowncontent {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -8%;
}

.dropdowncontent button {
  width: 100%;
  background-color: #add8e6;
  color: rgb(0, 0, 0);
  display: block;
  border: none;
  
}

.logo:hover .dropdowncontent {
  display: block;
}
.btnimage {
  display: flex;
  justify-content: flex-start;
  margin-top: 5%;
 
}


@media (max-width: 1049px) {
  .dropbtn {
    font-size: 26px;
  }
  .navbar button{

    font-size: 19px;
  }
}
@media (max-width: 983px) {
  .dropbtn {
    font-size: 24px;
  }
}
@media (max-width: 973px) {
  .dropbtn {
    font-size: 21px;
  }
}
@media (max-width: 811px) {
  .dropbtn {
    font-size: 17px;
  }
}


