.resultButton{
    background-color: #ADD8E6;
    color: black;
}
.resultButtonActive{
    background-color: #536674;
    color: whitesmoke;
}
.studenthomepagesidebarlow {
    background-color: #536674;
    height:83vh;
    width: 19%;
    border-top-right-radius: 20px;
  }
  .studenthomepagesidebarhigh {
    background-color: #536674;
    height: 282vh;
    width: 19%;
    border-top-right-radius: 20px;
  }
.selectedSidebarButton{
    background-color: #C0C0C0;
    color: black;
    font-size: 22px;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2.5%;
    border: none;
    border-top-right-radius: 10px;
    cursor: pointer;
}
.notSelectedSidebarButton{
    background-color: #536674;
    color: whitesmoke;
    font-size: 22px;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: none;
    border-top-right-radius: 10px;
    cursor: pointer;
}
.sidebarButton{
    font-size: 22px;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: none;
    border-top-right-radius: 10px;
    background-color: #536674;
    color: whitesmoke;
    cursor: pointer;
}

.welcomeName{
    margin-left: 30%;
    padding-top: 0.5%;
    font-size: 20px;
}
.logobutton{
    margin-left: 1%;
    border: none;
    background-color:#FFFFF0;
    cursor: pointer;
}
.tableheadinglines{
    border:1px solid;
}
.tableliine{
    border-collapse: collapse;
    width: 100%;
    margin-left: 0%;
    font-size: 1.3rem;
    margin-top: 0.5rem;
  
    
}
.tableheadinglinesubject{
    width: 70%;
    border:1px solid;
    padding: 1%;
}
.tableheadinglinegrade{
    width: 15%;
    border:1px solid;
}
.tableheadinglinecredit{
    width: 15%;
    border:1px solid; 
}
.tabledata{
    border:1px solid; 
    padding: 1%;
    line-height: auto;
    text-align: center;
    
}
.studentdetails{
    font-size: 1.5rem;
    
}
.tablerow{
    border: 1px solid whitesmoke;
}
.tablecolumn{
    border: 1px solid whitesmoke;
}
.changepasswordbody{
    border: 2px solid rgb(32, 32, 32);
    background-color: #C0C0C0;
    width: 40%;
    margin: auto;
    font-weight: 600;
}
.changepasswordmain{
    margin-top: 2%;
    font-size: 1.1rem;
    display: block;
    padding: 15%;
}
.changepasswordmain input{
    border-radius: 10px;
    border: none;
    background-color:#FFFFF0;
    height: 18px;
    cursor: pointer;
}

.currentpass label{
    display: block;
}
.newpass{
    margin-top: 2%;

}
.newpass label{
    display: block;
}
.confirmpass{
    margin-top: 2%;

}
.confirmpass label{
    display: block;
}
.buttons{
    margin-top: 10%;
}
.buttons button{
    width: 45%;
    border-radius: 9px;
    background-color: #536674;
    color: #FFFFF0;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
.cancelbutton{
    margin-left: 5%;
}
.buttons button:hover{
    background-color:#36454F;
    ;
    color: black;
}
@media (max-width:1730px) {
    .tableliine{
        font-size: 1.1rem;
    }
  }

@media (max-width:1254px) {
    .welcomeName{
        margin-left: 25%;
    }
}
@media (max-width:1148px) {
    .welcomeName{
        margin-left: 19%;
    }
}
@media (max-width:1068px) {
    .welcomeName{
        margin-left: 11%;
        font-size: 19px;
    }
    .sidebarButton{
        font-size: 20px;
    }
}