@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Graduate&display=swap');

.button{
    color: black;
    border:none;
    background-color:#ADD8E6;
    font-size: 28px;
    font-family: 'Abhaya Libre';
    font-weight: 600;
    line-height: 33px;
    transition-duration: 1s;
}
.button:hover {
    background-color: #e7e7e7;
    color: rgb(26, 25, 25);
}
@media (max-width: 1049px) {
    body{
        background-color: rgb(182, 29, 75);
    }
    .button{
        font-size: 26px;
    }
}
@media (max-width: 983px) {
    body{
        background-color: rgb(182, 29, 75);
    }
    .button{
        font-size: 24px;
    }
}
@media (max-width: 973px) {
    body{
        background-color: rgb(182, 29, 75);
    }
    .button{
        font-size: 21px;
    }
}
@media (max-width: 811px) {
    body{
        background-color: rgb(182, 29, 75);
    }
    .button{
        font-size: 17px;
    }
}