* {
  margin: 0;
}

.universityhomepagebody {
  display: flex;
  height: 83vh;
  margin-top: 1%;
}
.universityhomepagesidebar {
  background-color: #536674;
  height: 100%;
  width: 19%;
  border-top-right-radius: 20px;
}

.sidebartext1 button {
  font-size: 26px;
  width: 100%;
  border: none;

  cursor: pointer;
  padding-top: 1%;
  border-top-right-radius: 20px;
}
.sidebartext1 button:hover {
  background-color: #ebe2e2d3;
  color: black;
}
.spacebetween1 {
  margin-top: 1.5%;
  background-color: aliceblue;
  border: white solid 1px;
}

.navbar {
  background-color: #add8e6;
  height: 36px;
  margin-left: 3%;
  width: 80%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;

}

.navbar button {
  border: none;
  border-radius: 10px;
  font-size: 22px;
  margin-right:5% ;
}

.homeButton {
  background-color: #add8e6;
}
.navbar button:hover {
  background-color: #536674;
  color: white;
}

.navbarlogobutton {
  margin-left: 90%;
  position: fixed;
  display: inline-block;
}
.navbarlogobutton img {
  width: 25px;
}
.generatemenu {
  /* position: absolute; */
  margin-top: -28%;
  margin-left: 37%;
}
.generatemenu button {
  margin-left: 5%;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: #d9d9d9;
}

.generatemenu p {
  margin-top: 1.5%;
  margin-left: 5%;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 32%;
}

/* .dropdown:hover .dropdowncontent {
  display:contents;

} */
.dropbtn img{
  width: 27px;
}




@media (max-width: 1049px) {
  .dropbtn {
    font-size: 26px;
  }
}
@media (max-width: 983px) {
  .dropbtn {
    font-size: 24px;
  }
}
@media (max-width: 973px) {
  .dropbtn {
    font-size: 21px;
  }
}
@media (max-width: 811px) {
  .dropbtn {
    font-size: 17px;
  }
}
@media (max-width: 1565px) {
  
  /* .dropbtn{
    margin-left: -200%;
  } */
  .dropdowncontent{
    margin-left: -200%;
  }

}
@media (max-width: 1508px) {
  .generatemenu {
    margin-top: -40%;
    margin-left: 37%;
  }

  .dropdowncontent{
    margin-left: -250%;
  }

}
@media (max-width:1481px){
  /* .dropbtn{
    margin-left: -200%;
  } */
  .dropdowncontent{
    margin-left: -200%;
  }
}
@media (max-width: 1432px) {
  .sidebartext1 button {
    font-size: 27px;
  }
  /* .dropbtn{
    margin-left: -204%;
  } */
  .universityhomepagebody {
    height: 88vh;
  }
  .universityhomepagesidebar {
    width: 21%;
  }
}
@media (max-width: 1380px) {
  .sidebartext1 button {
    font-size: 25px;
  }
  .universityhomepagebody {
    height: 86vh;
  }
  .universityhomepagesidebar {
    width: 20%;
  }
  /* .dropbtn{
    margin-left: -250%;
  } */
  .dropdowncontent{
    margin-left: -250%;
  }
 
}
@media (max-width: 1307px) {
  
 
}
@media (max-width: 1277px) {
  .generatemenu {
    margin-top: -40%;
    margin-left: 37%;
  }
  .dropbtn{
    margin-left: -150%;
  }
  .logoutdropdown{
    margin-left: -150%;
  }
 
}
@media (max-width: 1242px) {
  .sidebartext1 button {
    font-size: 25px;
  }
  .universityhomepagebody {
    height: 88vh;
  }
  .universityhomepagesidebar {
    width: 21%;
  }
 

  .generatemenu {
    margin-top: -41%;
    margin-left: 37%;
  }

}
@media (max-width: 1193px) {
  .sidebartext1 button {
    font-size: 22px;
  }
  .universityhomepagebody {
    height: 89vh;
  }
  .universityhomepagesidebar {
    width: 21%;
  }
  .generatemenu {
    margin-top: -46%;
    margin-left: 37%;
  }
}
@media (max-width: 1093px) {
  
  .generatemenu {
    margin-top: -46%;
    margin-left: 37%;
  }
  .navbar button {
    font-size: 18px;
    margin-right: 1.5%;
  }
  .dropbtn{
    margin-left: 50%;
  }
  .logoutdropdown{
    margin-left: 50%;
  }
 
}
@media (max-width: 1058px) {
  .sidebartext1 button {
    font-size: 21px;
  }
  .universityhomepagebody {
    height: 89vh;
  }
  .universityhomepagesidebar {
    width: 21%;
  }
  .generatemenu {
    margin-top: -46%;
    margin-left: 37%;
  }
  .navbar button {
    font-size: 18px;
    margin-right: 1.5%;
  }
}
@media (max-width: 894px) {
  .sidebartext1 button {
    font-size: 17px;
  }
  .universityhomepagebody {
    height: 90vh;
  }
  .universityhomepagesidebar {
    width: 34%;
  }

  .generatemenu {
    margin-top: -53%;
    margin-left: 37%;
  }
  .navbar button {
    font-size: 17px;
  }
}
